<app-currency></app-currency>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-dateformat></app-dateformat>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-number-format></app-number-format>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-text-format></app-text-format>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-async-pipe></app-async-pipe>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-json></app-json>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-slice></app-slice>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-async-pipe></app-async-pipe>
<hr style="height:5px;border-width:0;color:gray;background-color:darkmagenta">
<app-custom-pipe></app-custom-pipe>
