<p>add-user works!</p>
<form #login="ngForm" novalidate (ngSubmit)="onSubmit(login.value)">
    <div class="container">
        <h1>User Registration</h1>
        <div class="form-group">
            <label for="Id">Id</label><br>
            <input type="text" name="id" class="form-control" ngModel>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="firstname">Firstname</label><br>
            <input #name="ngModel" required minlength="2" maxlength="10" type="text" name="firstname" class="form-control" ngModel>
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <p *ngIf="name.hasError('required')">Firstname is required</p>
                <p *ngIf="name.hasError('minlength')">minimum length should be 2</p>
            </div>
        
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="lastname">lastname</label><br>
            <input type="text" #lname="ngModel"  name="lastname" class="form-control" ngModel>
            <div *ngIf="lname.touched && lname.invalid" class="alert alert-danger">
                <p *ngIf="lname.hasError('required')">Lastname is required</p>
                <p *ngIf="lname.hasError('minlength')">minimum length should be 2</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Profession">Profession</label><br>
            <input #profession="ngModel" required type="text" name="profession" class="form-control" ngModel>
            <div *ngIf="profession.touched && profession.invalid" class="alert alert-danger">
                <p *ngIf="profession.hasError('required')">Profession is required</p>
                <p *ngIf="profession.hasError('minlength')">minimum length should be 2</p>
            </div>
        </div>
        <div class="form-group">
            <label for="Email">email</label><br>
            <input required type="text" name="email" class="form-control" ngModel #email="ngModel"> 
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <p *ngIf="email.hasError('required')">Email required</p>
                <p *ngIf="email.hasError('patttern')">@ symbol : email should be in proper format</p>
            </div>

        </div>
        <pre></pre>
        <button type="submit" class="btn btn-primary" [disabled]="!login.valid"        >Submit</button>


    </div>
</form>
<pre>{{login.value | json}}</pre>