<h1>Date formats Using pipe</h1>>
<div class="card card-block">
    <h4 class="card-title">Date</h4>
    <div class="card-text">
      <p ngNonBindable>{{ dateVal | date: 'shortTime' }}</p>
      <p>{{ dateVal | date: 'shortTime' }}</p>
  
      <p ngNonBindable>{{ dateVal | date:'fullDate' }}</p>
      <p>{{ dateVal | date: 'fullDate' }}</p>
  
      <p ngNonBindable>{{ dateVal | date: 'shortTime' }}</p>
      <p>{{ dateVal | date: 'shortTime' }}</p>
  
      <p ngNonBindable>{{ dateVal | date: 'd/M/y' }}</p>
      <p>{{ dateVal | date: 'd/M/y' }}</p>
    </div>
  </div>
