@model MVC_Demo1.Models.Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />

@{
    if (ViewBag.msg != null)
        @ViewBag.msg
}

<h1> Tag Helpers Example : </h1>
<form asp-controller="Home" asp-action="Create">
    <table class="table">
        <tr>
            <td><label asp-for="Id"></label></td>
            <td><input asp-for="Id" /></td>
        </tr>

        <tr>
            <td><label asp-for="Name"></label></td>
            <td> <input asp-for="Name" /></td>
        </tr>
        <tr>
            <label asp-for="Department"></label>
            <select asp-for="Department" asp-items=@ViewBag.dept>
                <option value="">Choose Department</option>
            </select>
        </tr>

        <tr><td colspan="2" align="center"> <input type="submit" name="submit" /></td></tr>
    </table>
</form>
