@model IEnumerable<MVC_Demo1.Models.Employee>
@{
    Layout = "_MyLayout";
}
@{
    ViewData["Title"] = "GetAllEmployees";
}

<h1>GetAllEmployees</h1>

<table class="table">

    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr><td>@item.Id</td><td>@item.Name</td><td>@item.Department</td></tr>
        </tbody>
    }
</table>