@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form name="f1" method="post">
    <p>
        <label for="Username">UserName</label>
        <input type="text" name="username" />
    </p>
    <p>
        <label for="password">Password</label>
        <input type="text" name="password" />
    </p>
    <p>
        <button type="Submit">Submit</button>
    </p>
</form>